@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Roboto:wght@300;500;900&display=swap');

::root {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


h1 {
    color: rgb(251, 255, 12)
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.weather-data-left, .weather-data-right{
    width: 20%;
    background-color:rgba(255, 255, 255, 0.329); 
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.weather-data-right{
    margin-left: auto;
    height: 100%;
}

.weather-data-weekly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.weather-data-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-data-right-image{
    max-height: 100%; /* Ensure image height does not exceed container height */
    max-width: 100%; /* Ensure image width does not exceed container width */
    height: auto; 
    padding:0 10px;
}


.weather-data-right-wrapper{
    display: flex;
    align-items: flex-start;
    
}

.weather-data-right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-right-element, .bottom-right-element {
    margin-bottom: 10px;
}


h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 2px;
}

body{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    background-image: url("./images/weather.png");
}